/* --- 레이아웃 START --- */
body {
  font-family: 'Noto Sans KR', Nanum_BG, Nanum_BGB, NanumBarunGothicBold, 나눔고딕, '맑은 고딕', HelveticaNeue, DroidSans, sans-serif, Helvetica;
}
#header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 5rem;
  flex: 1;
}

#main > .section_con {
  position: relative;
  transition: all cubic-bezier(0.39, 0.58, 0.57, 1) 1s;
}

#footer {
  width: 100%;
  height: 17rem;
  bottom: -17rem;
  position: fixed;
  background-color: #333;
  opacity: 0;
  transition: all ease 1000ms;
}

.main_section {
  width: 100%;
  height: calc(100vh - 5rem);
  position: relative;
}

.main_section:nth-child(4) {
  padding-bottom: 17rem;
}

.section_item {
  width: 100%;
  height: 100%;
}

.point {
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0%, -50%);
  margin: 3rem 1rem 0 0;
  cursor: pointer;
}

.point_page {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #607d8b;
  margin-bottom: 10px;
}

body > div.point > .page_act {
  background-color: red !important;
}
/* --- 레이아웃 END --- */

/* --- 헤더 START --- */
.header_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.item_area {
  width: 1343px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-1 {
  flex: 1;
}

.menu {
  width: 42rem;
  height: 100%;
  position: relative;
  font-size: 18px;
  cursor: pointer;
}

.menu_item {
  text-align: center;
  position: relative;
  width: 8rem;
  display: inline-block;
  margin: 2rem 2rem 0 0;
  height: 48px;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #c30d23;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

.item_category {
  width: 100%;
  height: 100%;
  font-weight: 500;
}

.item_category:hover {
  color: #c30d23;
  font-weight: 700;
}

.item_board {
  width: 17rem;
  top: 48px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s;
  display: none;
}

.item_board > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board li {
  width: 100%;
  padding: 1.0625rem 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 16px;
}

.board li:hover {
  color: #c30d23;
}

.board_act {
  display: block !important;
}

/* 미디어 쿼리 */
@media (max-width: 1300px) {
  .header_logo {
    margin-left: 0;
  }
}
/* --- 헤더 END --- */

/* --- 섹션 공통부분 START --- */
.section_item {
  display: flex;
  flex-direction: row;
}

.item_left {
  width: 50%;
}

.item_right {
  width: 50%;
  height: 100%;
}

.right_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #607d8b;
  opacity: 0.4;
}

/* --- 섹션 공통부분 END --- */

/* --- 섹션-1  START --- */
/* 섹션-1 AutoPlay START */
.auto-swiper {
  width: 100%;
  height: 100%;
}

.auto-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 섹션-1 AutoPlay END */
.swiper_title {
  width: 100%;
  top: 35%;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* .swiper_title p {
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
} */

.swiper_title1 {
  margin-bottom: 3%;
}

.swiper_btn {
  width: 100%;
  position: absolute;
  z-index: 9;
  color: #fff !important;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 49px;
  bottom: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.index_btn {
  width: 200px;
  height: 48px;
  border: 3px solid #43403f;
  background: rgba(255, 255, 255, 0.25);
  line-height: 43px;
  color: #43403f !important;
}

.index_btn:hover {
  border: 3px solid #fff;
  color: #fff !important;
}

.index_btn.active {
  border: 3px solid #c30d23;
  color: #05305c !important;
}

.scroll-downs {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
  z-index: 9999;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 25px;
  opacity: 1.75;
  box-sizing: content-box;
}
#scroller {
  width: 3px;
  height: 11px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 1.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
/* --- 섹션-1  END --- */

/* --- 섹션-2  START --- */
.right_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  position: relative;
}

.info_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  color: #fff;
  margin-top: 10%;
}

.info_title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.info_title2 {
  font-size: 1.125rem;
}

.info_cont {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.info_btn {
  border: 2.5px solid #fff;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 22px;
  text-align: center;
  -webkit-transition: 0.5s;
}

.info_btn:hover {
  border: 2.5px solid #ccff00;
  color: #ccff00;
}

/* 상담문의, 홍보영상, 보도자료 버튼 효과 START */
#btn_effect {
  position: relative;
  z-index: 999;
}

.effect_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: relative;
  font-size: 16px;
  font-family: HelveticaNeue, DroidSans, Sans-serif, Helvetica;
  /* margin-top: 38rem; */
  /* top: 50%; */
}

.svg-wrapper {
  width: 151px;
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  /* stroke: #009ffd; */
  stroke: #0126fa;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#area_text {
  margin-top: -32px;
  margin-left: 12px;
  text-align: center;
}

#area_text a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.svg-wrapper:hover #shape {
  /* stroke-dasharray: 30 0; */
  stroke-dasharray: 1360;
  stroke-width: 6px;
  stroke-dashoffset: 0;
  /* stroke: #06d6a0; */
  stroke: #ccff00;
  /* animation: dash 2s linear; */
}

.svg-wrapper:hover #svg {
  /* stroke-dasharray: 30 0; */
  stroke-dasharray: 1360;
  stroke-width: 6px;
  stroke-dashoffset: 0;
  /* stroke: #06d6a0; */
  stroke: #ccff00;
  /* animation: dash 2s linear; */
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.info_icon {
  margin-top: 2px;
}

.info_icon > img {
  width: 23px;
}
/* 상담문의, 홍보영상, 보도자료 버튼 효과 END */
/* --- 섹션-2  END --- */

/* --- 섹션-3  START --- */
.right_business {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
  position: relative;
}

.business_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  color: #fff;
  margin-top: 10%;
}

.business_title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.business_title2 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 2rem;
}

.business_item {
  width: 100%;
  position: relative;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.b_item {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b_item_line {
  border: 1px solid #fdd835;
  width: 145px;
}

#b_item_area {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.b_item_img {
  width: 70%;
  height: 300px;
  border-radius: 5%;
  filter: brightness(0.5);
}

.warp_title {
  width: 66%;
  line-height: 1;
  color: #fff;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  bottom: 30%;
}

.warp_title h4 {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.warp_title h3 {
  font-size: 17px;
  margin: 0;
  color: #fff;
}

.more {
  width: 120px;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: #fdd835;
  line-height: 40px;
  opacity: 0;
  transition: 0.5s all;
  border-radius: 3px;
}

#b_item_area:hover .more {
  opacity: 1;
}
#b_item_area:hover .warp_title {
  bottom: 40%;
}
#b_item_area:hover .b_item_img {
  filter: brightness(1);
}
/* --- 섹션-3  END --- */

/* --- 섹션-4  START --- */
.right_notice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9%;
  position: relative;
  padding-top: 3%;
}
/* 텍스트 애니효과 START */
.notice_ani {
  width: 32%;
  text-align: center;
  line-height: 1.7rem;
  color: #333;
  /* display: block; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.ani_area {
  width: 100%;
}

.ml3 {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3px;
}

.sep {
  border: 0;
  height: 2px;
  background-color: #333;
  margin: 15px;
}

.ani2_area {
  width: 100%;
  /* display: block; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.ml4 {
  width: 100%;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 2px;
}
/* 텍스트 애니효과 END */
/* 섹션-4 Swiper Slide START */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}

.swiper-button-next {
  margin-right: 8% !important;
  color: #333 !important;
}

.swiper-button-prev {
  margin-left: 8% !important;
  color: #333 !important;
}

.swiper-pagination {
  margin-bottom: 1%;
}
/* Swiper Slide END */

.notice_btn {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.notice_video {
  width: 100%;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

.video_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 40%;
  margin-bottom: 2%;
  font-size: 15px;
}

.video_bottom {
  width: 100%;
  /* height: 93%; */
  /* position: relative; */
  overflow: hidden;
  /* margin-left: 18%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#bottom_ytb {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.cursor_ytb {
  width: 320px;
  /* margin: 0 auto; */
}

.notice_news {
  width: 100%;
  height: 100%;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

.news_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 40%;
  margin-bottom: 1%;
  font-size: 15px;
}

.news_title {
}

.news_bottom {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

#bottom_paper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.cursor_news {
  width: 320px;
  height: 236px;
  /* position: relative; */
  /* overflow: hidden; */
  cursor: pointer;
  float: left;
  list-style: none;
  position: relative;
}

dt.thumbNail {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

dd.notice_title {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.12rem;
  border-top: #154360 solid 3px;
  background-color: rgba(222, 222, 222, 0.5);
}
dd.date {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #ccc;
  text-align: right;
}

/* --- 섹션-4  END --- */

/* --- 푸터 START --- */
.footer_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer_area {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.footer_logo {
  width: 13%;
}

.footer_info {
  font-size: 16px;
  color: #fff;
  line-height: 1.45rem;
}

.copyright {
  color: #999;
}

.footer_num {
  width: 11%;
  height: 54%;
  text-align: right;
  color: #fff;
}

.num_tel {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
}

.num_time {
  width: 100%;
  border-top: 1px solid #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.25rem;
  margin-top: 20px;
  padding-top: 20px;
}
/* --- 푸터 END --- */
